div#infoPage {
  .wrapper {
    margin: auto;
    padding: 10px;
    max-width: 1210px;
    min-height: 100vh;
  }
  header {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-block: 20px;

    button {
      background-color: black;
      color: white;
      border-radius: 4px;
      padding: 5px 15px;
      font-size: 14px;
      cursor: pointer;
    }
  }
  img {
    max-width: 290px;
    margin-bottom: 10px;
  }
  h1,
  li {
    font-weight: 500;
    padding-top: 3px;
  }
  h1 {
    font-size: 20px;
  }
  ul {
    list-style: none;
  }
}
