* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.1s;
  word-break: break-all;
}

body img {
  max-width: 100%;
}

main {
  min-height: 100vh;
}

.header-wrapper {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header-wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px 10px;
  gap: 10px;
}
.header-wrapper header h1 {
  font-size: 20px;
  padding-bottom: 3px;
}
.header-wrapper header button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.header-wrapper header button p {
  padding-bottom: 2px;
}

section#filter {
  width: 100%;
  padding: 10px;
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
section#filter .inputBox {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  width: 60%;
  max-width: 400px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-radius: 4px;
}
section#filter .inputBox span {
  padding-top: 4.5px;
  font-size: 20px;
  margin-right: 10px;
}
section#filter .inputBox input {
  border: none;
  padding: 8px;
  background-color: transparent;
  color: inherit;
  width: 100%;
}
section#filter .inputBox input:focus {
  outline: none;
}
section#filter select {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  border: none;
  padding-inline: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  cursor: pointer;
}
section#filter select:focus {
  outline: none;
}
section#filter select option {
  text-transform: capitalize;
}

article {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
  width: 80%;
  max-width: 275px;
  margin: 8px auto;
  border-radius: 5px;
  overflow: hidden;
}
article img {
  margin-bottom: 5px;
}
article .content {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}
article .content h1 {
  margin-bottom: 15px;
  font-size: 20px;
}
article .content ul {
  list-style: none;
}
article .content ul li {
  font-size: 14px;
  font-weight: bold;
}
article .content ul li span {
  font-weight: normal;
  padding-left: 8px;
  color: #757575;
}

section#countriesGrid {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 13px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
}
.dark-mode .header-wrapper {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode .header-wrapper header button {
  color: inherit;
}
.dark-mode section#filter .inputBox {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode section#filter select {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode article {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode article .content ul li span {
  color: rgb(208, 208, 208);
}

.light-mode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

@media (max-width: 600px) {
  section#filter .inputBox {
    padding: 5px 10px;
  }
  section#filter select {
    padding: 8px;
    font-size: 12px;
  }
  .header-wrapper header h1 {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */