@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$secondary-font;
  // transition: 0.1s;
  word-break: break-all;
}
body {
  img {
    max-width: 100%;
  }
}

// Main section styles
main {
  min-height: 100vh;
}
// Header styles
.header-wrapper {
  box-shadow: variables.$box-shadow-1 1.95px 1.95px 2.6px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 15px 10px;
    gap: 10px;

    h1 {
      font-size: 20px;
      padding-bottom: 3px;
    }

    button {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 7px;
      cursor: pointer;

      p {
        padding-bottom: 2px;
      }
    }
  }
}

// Input and Filter section
section#filter {
  width: 100%;
  padding: 10px;
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  // align-items: center;

  .inputBox {
    box-shadow: variables.$box-shadow-1 0px 4px 12px;
    width: 60%;
    max-width: 400px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 4px;

    span {
      padding-top: 4.5px;
      font-size: 20px;
      margin-right: 10px;
    }
    input {
      border: none;
      padding: 8px;
      background-color: transparent;
      color: inherit;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  select {
    box-shadow: variables.$box-shadow-1 0px 4px 12px;
    border: none;
    padding-inline: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    cursor: pointer;
    &:focus {
      outline: none;
    }

    option {
      text-transform: capitalize;
    }
  }
}

// Country Card
article {
  box-shadow: variables.$box-shadow-2 1px 4px 8px 1px;
  background-color: variables.$darkm-txt-lightm-el;
  color: variables.$light-mode-txt;
  width: 80%;
  margin: 7px;
  max-width: 275px;
  border-radius: 5px;
  overflow: hidden;
  &:hover {
    opacity: 0.8;
  }

  .content {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 20px;
    }
    ul {
      list-style: none;

      li {
        font-size: 14px;
        font-weight: bold;
        span {
          font-weight: normal;
          padding-left: 8px;
          color: #757575;
        }
      }
    }
  }
}
// Countries Grid
section#countriesGrid {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 13px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.dark-mode {
  background-color: variables.$dark-mode-bg;
  .header-wrapper {
    background-color: variables.$dark-mode-el;
    color: variables.$darkm-txt-lightm-el;
    header {
      button {
        color: inherit;
      }
    }
  }
  section#filter {
    .inputBox {
      background-color: variables.$dark-mode-el;
      color: variables.$darkm-txt-lightm-el;
    }
    select {
      background-color: variables.$dark-mode-el;
      color: variables.$darkm-txt-lightm-el;
    }
  }
  article {
    background-color: variables.$dark-mode-el;
    color: variables.$darkm-txt-lightm-el;
    .content {
      ul {
        li {
          span {
            color: rgb(208, 208, 208);
          }
        }
      }
    }
  }
}
.light-mode {
  background-color: variables.$light-mode-background;
  color: variables.$light-mode-txt;
}

@media (max-width: 600px) {
  section#filter {
    .inputBox {
      padding: 5px 10px;
    }

    select {
      padding: 8px;
      font-size: 12px;
    }
  }
  .header-wrapper {
    header {
      h1 {
        font-size: 16px;
      }
    }
  }
}
