@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$primary-font;
  transition: 0.1s;
  word-break: break-all;
}

// Main section styles
main {
  min-height: 100vh;
}
// Header styles
.header-wrapper {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
    gap: 10px;

    h1 {
      font-size: 20px;
      padding-bottom: 3px;
    }

    button {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 7px;
      cursor: pointer;

      p {
        padding-bottom: 2px;
      }
    }
  }
}
section#filter {
  width: 100%;
  padding: 10px;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  // align-items: center;

  .inputBox {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 60%;
    max-width: 400px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 4px;

    span {
      padding-top: 4.5px;
      font-size: 20px;
      margin-right: 10px;
    }
    input {
      border: none;
      padding: 8px;
      background-color: transparent;
      color: inherit;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  select {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    padding: 10px 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    cursor: pointer;
    &:focus {
      outline: none;
    }

    option{
      text-transform: capitalize;
    }
  } 
}

.dark-mode {
  background-color: variables.$dark-mode-bg;
  .header-wrapper {
    background-color: variables.$dark-mode-el;
    color: variables.$darkm-txt-lightm-el;
    header {
      button {
        color: inherit;
      }
    }
  }
  section#filter {
    .inputBox {
      background-color: variables.$dark-mode-el;
      color: variables.$darkm-txt-lightm-el;
    }
    select {
      background-color: variables.$dark-mode-el;
      color: variables.$darkm-txt-lightm-el;
    }
  }
}
.light-mode {
  background-color: variables.$light-mode-background;
  color: variables.$light-mode-txt;
}

@media (max-width: 600px) {
  .header-wrapper {
    header {
      h1 {
        font-size: 16px;
      }
    }
  }
}
